@{
    ViewData["Title"] = "Register";
}

@model RegisterViewModel

<div class="d-flex w-100 mt-5 align-items-center justify-content-center">
    <form class="text-center" method="post">
        <h1 class="display-4">Register</h1>
        <div class="mb-3">
		    <label for="username" class="form-label">Username</label>
		    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="mb-3">
		    <label for="confirmPassword" class="form-label">Confirm Password</label>
		    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
        </div>
	    <button type="submit" class="btn btn-primary">Register</button>
        <a href="/Home/Login" class="btn btn-link">Login</a>
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <div class="mt-3 mb-3 alert alert-danger" role="alert">
                @Model.Error
            </div>
        }
    </form>
</div>
